* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
}

.container {
    max-width: 700px;
    margin: 60px auto;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
}

.game-card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.item-card {
    background: white;
    padding: 30px;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

.item-section {
    margin-top: 20px;
}

.game-card h2 {
    margin-top: 0;
}

#game-time {
    font-size: 60px;
    font-weight: bold;
    margin: 30px 0;
}

button {
    padding: 12px 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.2s ease;
}

button:hover:not(disabled) {
    opacity: 0.85;
    transform: translateY(-1px);
}
button:disabled {
    background-color: #ccc !important;
    color: #666 !important;
    cursor: not-allowed;
    transform: none;
}
#start-btn {
    background-color: #2196F3;
    color: white;
}
#pause-btn {
    background-color: #ff9800;
    color: white;
}
.btn-complete{
    background-color: #4CAF50;
    color: white;
}
